<!-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ -->
<!-- 01 -->
<!-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ -->
<footer th:fragment="footer-01">
  <div class="container-fluid px-1">
    <div class="row m-0">
      <!-- 余白 -->
      <div class="col show-pc">
        &nbsp;
      </div>
      <!-- 会社名 -->
      <div class="col">
        <p th:text="#{corp}" class="text-center m-0" />
      </div>
      <!-- 現在日時 -->
      <div class="col show-pc">
        <p id="timestamp" class="text-end m-0" />
      </div>
    </div>
  </div>
</footer>
<!-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ -->
<!-- 02 -->
<!-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ -->
<footer th:fragment="footer-02" class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
<!-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ -->
<!-- 03 -->
<!-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ -->
<footer th:fragment="footer-03" class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>