<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

  <th:block th:replace="common/head :: head(title = 'マスタホーム', scripts = ~{::script}, links = ~{::link})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mstHome.css}" />
    <script type="text/javascript" th:src="@{/js/mstHome.js}"></script>
  </th:block>

  <body>
    <th:block th:replace="common/header :: header-01" />
    <main role="main" class="container-fluid">
      <div class="row d-flex d-inline align-items-center">
        <div class="col-sm-3">
          <!-- タイトル -->
          <h1 th:text="#{title.mst.en}" class="my-3" />
        </div>
        <div class="col-sm-9">
          <select class="form-select">
            <option />
            <option th:text="#{user}" />
          </select>
          <!-- <select th:field="*{systemThemaCd}" class="form-select">
            <option th:each="systemThemaRecord : ${systemThemaList}" th:value="${systemThemaRecord.cd}"
              th:text="${systemThemaRecord.nm}" th:selected="${systemThemaRecord.cd} == *{systemThemaCd}">
            </option>
          </select> -->
        </div>
      </div>
      </div>
    </main>
    <th:block th:replace="common/footer :: footer-01" />
  </body>

</html>