<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

  <update id="updateMyAccount" parameterType="com.example.demo.model.mybatis.MUser">
    UPDATE public.m_user
    <set>
      <if test="password != null">
        password = #{password, jdbcType=VARCHAR},
      </if>
      user_nm = #{userNm, jdbcType=VARCHAR},
      mail_address = #{mailAddress, jdbcType=VARCHAR},
      system_thema_cd = #{systemThemaCd, jdbcType=VARCHAR},
      update_user_id = #{updateUserId, jdbcType=VARCHAR},
      update_timestamp = #{updateTimestamp, jdbcType=TIMESTAMP},
    </set>
    <where>
      <trim prefix="(" prefixOverrides="and" suffix=")">
        user_id = #{userId, jdbcType=VARCHAR}
      </trim>
    </where>
  </update>

</mapper>